.container{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOr-P6nQYuaUOmX1UhcXyB7_kLfEO3jKe032rRdCB8YFhXKMmS5oikIZtpO8ASPkaiTxw&usqp=CAU");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}